{erl_opts, [debug_info, warnings_as_errors]}.
{minimum_otp_vsn, "25"}.

{deps, [
    {zotonic_rdf, "~> 1.2.0"},
    {zotonic_jsonld, "~> 1.0.0"}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/zotonic/zotonic_turtle">>},
    {extras, [<<"README.md">>, <<"LICENSE">>, <<"NOTICE">>, <<"LICENSE_REVIEW.md">>]},
    {main, <<"readme">>}
]}.
